dataset2
article*
word2vec/doc2vec.model
word2vec/doc2vec.model.syn1neg.npy
word2vec/doc2vec.model.wv.syn0.npy
word2vec/valentin.model
notas-sim/
tensorboard_log/
*.log
*.h5
*f5
*.csv
simple-examples/
*.pyc
text8*
got/
sports-6k/
*.w2v
.ipynb_checkpoints/
*.pkl
*.zip
.idea
notMNIST*
covnet/cifar-10-batches-py/
